body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#2020e9, black, #1b1b6d, #01000c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1), -4px 4px 10px rgba(0, 0, 0, 0.1), 4px -4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 10px;
    height: 600px;
    /* max-height: 100%; */
    width: 100%;
    display: grid;
    grid-template-rows:max-content 2,2,2;
  }
  
  .top-panel {
      display: flex;
      justify-content: space-around;
      padding: 20px 0;
      border-bottom: 1px solid #ccc;
  }
  
  .center-panel {
    padding: 20px 0;
  }
  .bottom-panel {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
  }
  
  button {
    padding: 50px 50px;
    font-size: 18px;
    background-image: url('./coin.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    color: #fff;
    border: none;
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 100%;
    cursor:auto;
    transition: background-color 0.3s ease;
    position: relative; 
    overflow: hidden;
    outline: none; 
}
  
  .counter {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px; 
      color: #fff;
      opacity: 0; 
      transition: opacity 0.3s ease;
  }
  
  .counter.visible {
      opacity: 1;
      color: gold;
      animation: bounce 0.5s forwards;
  }
  
  @keyframes bounce {
      0% {
          transform: translate(-50%, -50%) scale(1);
      }
      50% {
          transform: translate(-50%, -50%) scale(1.5);
      }
      100% {
          transform: translate(-50%, -50%) scale(1);
          opacity: 0; 
      }
  }
  
  a{
      text-decoration: none
  }
  
  .slider {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 10px;
      background: linear-gradient(to right, rgb(0, 60, 255) 0%, rgb(2, 255, 255) 100%);
      outline: none;
      opacity: 0.7;
      transition: opacity .15s ease-in-out;
      border-radius: 5px;
  }
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 5px;
      height: 10px;
      background: #fffb0f;
      cursor: pointer;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }
  
